.libabout {
  display: flex;
  justify-content: center;
  //align-items: center;
  flex: 1 0 auto;
  padding-bottom: 130px;
  .libContainer {
    width: 90%;
    //height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 380px);
    grid-template-rows: repeat(3, 250px);
    gap: 10px;
    justify-content: space-between;
    align-content: space-between;
    //background: skyblue;
    .libAboutBtn {
      display: flex;
      flex-direction: column;
      gap: 0px;
      justify-content: center;
      align-items: center;
      width: 100%;
      //height: 250px;
      border-radius: 20px;
      background-color: #ffffff;
      border: 1px solid #dadada;
      box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 10px,
        rgba(0, 0, 0, 0.15) -2px -4px 2px inset;
      padding: 20px;
      cursor: pointer;
      .libAboutTitle {
        font-size: 35px;
        color: #333333;
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}
